@page
@model LoginModel

@{
    ViewData["Title"] = "Welcome";
}
<link rel="stylesheet" href="~/css/styles.css" />

<div class="limiter">
<div class="container-login100">
    <div class="wrap-login100">
            <form id="account" method="post" class="login100-form validate-form">
                
                <span class="login100-form-title p-b-26">
                    @ViewData["Title"]
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font">
                        <img src="https://th.bing.com/th/id/OIP.bPIF2O_doURSlTmRbbonLwHaHa?w=626&h=626&rs=1&pid=ImgDetMain" style="width:100px;" alt="Icon">
                    </i>
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input asp-for="Input.Email" class="input100" type="text" placeholder="Username" autocomplete="username" aria-required="true" />
                </div>
                <div class="text-center">
                    <span asp-validation-for="Input.Email" class="txt1 text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input asp-for="Input.Password" class="input100" type="password" placeholder="Password" autocomplete="current-password" aria-required="true" />
                    
                </div>
                <div class="text-center">
                    <span asp-validation-for="Input.Password" class="txt1 text-danger"></span>
                </div>
                <div class="text-center p-t-115">
                    <span class="txt1">

                    </span>
                    <a class="txt2" asp-page="./ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">
                        Forgot Password?
                    </a>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="login-submit" type="submit" class="login100-form-btn">
                            Log in
                        </button>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>
                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>
                    <a class="txt2" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                        Sign Up
                    </a>
                </div>
                <div class="text-center p-t-115">
                    <a class="txt2" asp-page="./ResendEmailConfirmation" asp-route-returnUrl="@Model.ReturnUrl">
                        Resend email confirmation
                    </a>
                </div>
            </form>
    </div>
 </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
